*{
    margin: 0;
    box-sizing: border-box; 
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header{
    position: initial;
}

.speaker_view, .maximaze{
    position: absolute;
    top: 1rem;
    background-color: rgba(128, 128, 128, 0.7);
    color: #ffffff;
    font-size: 10px;
    padding: 0 0.5rem;
    border-radius: 10px;
}

.speaker_view{
    right: 5rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.maximaze{
    right: 1rem;
}


main.grid{
    background-color: black;
    display: flex;
    justify-content: center;
}

div.grid{
    width: 90%;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 0 3rem 0;
    line-height: 1rem;
    overflow: overlay;
}

div.picture{
    width: 489px;
    height: 332px;
    position: relative;
    margin: 4px 2px;
}

aside.picture{
    position: absolute;
    bottom: 1.5px;
    left: 2px;
    background-color: rgba(128, 128, 128, 0.7);
    color: #ffffff;
    font-size: 10px;
    padding: 0 0.5rem;
}

footer.commands{
    background-color: #222222;
    height: 7rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

i{
    font-size: 2.5rem;
}

.commands span{
    margin-left: -40px;
}

nav.user_commands{
    width: 15%;
    display: flex;
    gap: 2.5rem;
    padding: 1.5rem 0 0 2rem;
}

nav.end_commands{
    background-color: #4a4a4aFF;
    color: red;
    width: 7%;
    text-align: center;
    line-height: 6;
    font-size: 1.25rem;
}

nav.meeting_commands{
    width: 78%;
    display: flex;
    padding: 1.5rem 0;
    justify-content: center;
    gap: 2.5rem;
}

div.icon{
    display: flex;
    flex-direction: column;
    text-align: center;
}

